/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 29, 2016, 5:11:35 AM
    Author     : ghada
*/

#header {
  background-color: #4E4E4E;
  background-image: -moz-linear-gradient(center top , #4A4A4A 0%, #4E4E4E 100%);
}
